<% title @issue.title + " by " + @issue.series.publisher.name %>
<nav class="content-nav">
  <%= link_to @issue.series.publisher.name, "#", class: "breadcrumb" %>
  <%= link_to @issue.series.title, series_path(@issue.series), class: "breadcrumb" %>
  <%= link_to @issue.title, @issue, class: "breadcrumb" %>
</nav>
<div class="IssueShow_Container">
  <%= image_tag(@issue.external_image_url, class: "IssueShow_IssueCover") %>
  <div class="IssueShow_Metadata">
    <h4><%= @issue.title %></h4>
    <h5>Written by: <%= @issue.writers.all.pluck(:name).join(", ") %></h5>
    <h5>Art by: <%= @issue.artists.all.pluck(:name).join(", ") %></h5>
    <p><%= @issue.description %></p>
    <p>Release Date: <%= @issue.release_date.to_date %></p>
    <p>Page Count: <%= @issue.page_count %></p>
  </div>
</div>
