<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Wcsir', reverse: true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'initializer', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-visit-control" content="reload">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo">WCSIR REBORN</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="App_Container">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer'%>
  </body>
</html>
